{
      "semi": true,
      "singleQuote": true,
      "printWidth": 120,
      "trailingComma": "none",
      "tabWidth": 8,
      "arrowParens": "avoid",
      "endOfLine": "auto",
      "overrides": [
            {
                  "files": "**/*.ts",
                  "options": {
                        "parser": "typescript"
                  }
            }
      ]
}
